{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            font-family: 'Courier New', Courier, monospace;
            letter-spacing: 3px;
        }
    </style>
    <!-- <link  rel="stylesheet" href="{% static 'css/style.css' %}"> -->
</head>
<body>
    <h1 style="color: brown;"> website design </h1>
    <img src="{% static 'images1/download.jpeg' %}" height="200" width="200">
</body>
</html>