{% extends "base.html" %}
{% block content %}
{% load static %}

<!-- contact section -->
<section class="contact_section layout_padding">
    <div class="container-fluid">
      <div class="col-lg-4 col-md-5 offset-md-1">
        <div class="heading_container">
          <h2>
            Register
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          <div class="form_container">
            <form  method="post">
                {% csrf_token %}
              <div class="form_group">
                <input type="text" class="email-bt" placeholder="First Name" name="fname" />
              </div>
              <div class="form_group">
                <input type="text" class="email-bt" placeholder="Last Name" name="lname" />
              </div>
              <div class="form_group">
                <input type="text" class="email-bt" placeholder="user Name" name="uname" />
              </div>
              
              <div class="form_group">
                <input type="email" class="email-bt" placeholder="Email" name="email" />
              </div>
              <div class="form_group">
                <input type="password" class="email-bt" placeholder="password" name="psw" />
              </div>
              <div class="form_group">
                <input type="password" class="email-bt" placeholder="confirm password" name="psw1"/>
              </div>
              
              <div class="btn_box"><button type="submit" >register</button>
              </div>
            </form>
            {% for i in messages %}
            <script>alert("{{i}}")</script>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-7 col-md-6 px-0">
          <div class="map_container">
            <div class="map">
              <div id="googleMap"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->


{% endblock %}